<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/user/join_result" method="POST" >
        <br>
        <!-- 이메일 -->
        <div>
            <input id="email" type="text" name="email" placeholder="email" >
        </div>

        <!-- 사용자 이름 -->
        <div>
            <input id="user_name" type="text" name="user_name" placeholder="닉네임" required>
        </div>

        <!-- 비밀번호 확인 -->
        <div>
            <input id="user_pw" type="password" name="user_pw" placeholder="비밀번호" required>
        </div>

        <div> 
            <input type="submit" name="회원가입">
        </div>




    </form>


</body>
</html>